body {
  border: 10px solid darkred;
  font-family: 'Comic Sans','Comic Sans MS',monospace;
  font-size: 14pt;
  height: 100%;
  padding: 1em;
}

h1::before {
  content: "🔥 ";
}

.the-title-of-the-video-game {
  color: darkred;
  font-family: Impact,serif;
  font-size: 150%;
}

dt {
  font-weight: bold;
}

section.server-info {
  background: bottom right pink url('../img/asuka.png') no-repeat;
  border: 5px solid darkred;
  min-height: 300px;
  min-width: 35%;
  padding: 0.5em 1em;
}

@media screen and (min-device-width: 900px) and (min-width: 900px) {
  section.server-info {
    float: right;
    margin-left: 1em;
  }
}

.server-info code {
  background-color: white;
}
